<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.iamutkarshtiwari.kaleidoscope">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".RxApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>

        <activity android:name=".activity.MovieDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.iamutkarshtiwari.kaleidoscope.activity.HomeActivity" />
        </activity>

        <provider
            android:name=".providers.FavoriteMovieProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"/>
    </application>

</manifest>